{% extends "nftminter/layout.html" %}

{% block body %}

<div id="upload"></div>


<script type="text/babel">

  function CreateProject() {
    let caracteres = "aaaaaaaaaaaaaaaaaaaaaaaaaaabbbbb";
    const tamain = caracteres.length;
    const [metadata, setMetadata] = useState({
      title: "",
      author: "",
      description: "",
      fileWebLink: "",
      arweaveId: "",
      nsfw: "",
    });
    const [receiverBalance, setReceiverBalance] = useState(0);
    const [fees, setFees]=useState(0);
    
    let paytest = false;

    const fieldUpdater = (name) => {
      function isTitle(evt) {
        var regex = /[A-Za-z0-9_]{0,32}/;

        if (regex.test(evt)) {
          var title = evt.match(regex)[0];
          return title;
        } else {
          return metadata["title"];
        }
      }

      function isOpcional(evt) {
        var regex = /[\w\s\uhhhh\u{hhhhh}u{hhhh}.@/:$%&*#!¨()\-+=]{0,64}/;

        if (regex.test(evt) && evt.length <= 63) {
          var title = evt.match(regex)[0];
          return title;
        } else {
          return metadata[event.target.name];
        }
      }

      if (event.target.name == "title") {
        setMetadata({
          ...metadata,
          [event.target.name]: isTitle(event.target.value),
        });
        return;
      }
      if (
        event.target.name == "description" ||
        event.target.name == "author" ||
        event.target.name == "fileWebLink" ||
        event.target.name == "arweaveId"
      ) {
        setMetadata({
          ...metadata,
          [event.target.name]: isOpcional(event.target.value),
        });
        return;
      } else if (event.target.name == "nsfw") {

        if(event.target.checked){
          setMetadata({
          ...metadata,
          [event.target.name]: 'true',
        });
        }else if(!event.target.checked){
          setMetadata({
          ...metadata,
          [event.target.name]: 'false',
        });
        }

      }
    };

    function displayImg() {
      //here i have to implement the registration on the FPS
      //Also i have to limit the size and type of the files.
      var file = document.getElementById("file").files[0];
      var reader = new FileReader();
      
      reader.onload = async function  (e) {
        var image = document.createElement("img");
        image.crossOrigin = 'Anonymous';
        // the result image data
        image.src = e.target.result;
        //localStorage.setItem("imgpath", image.src);

        document.body.appendChild(image);

        pinImgToPinata(image.src);

        //await ipfsRegister( image.src, metadata);
        
        
        document.getElementById("submit_img").style.display = "none";
        document.getElementById("file").style.display = "none";
        document.querySelector(".metadata-container").style.display = "block";
      };
      // you have to declare the file loading
      reader.readAsDataURL(file);
      
      
      //Register on IPFS to right calculate the fees;
      
    }

    async function ipfsRegister(image_path){
      var registryInfo = {"imagePath": image_path};
      
      Object.assign({registryInfo}, metadata)

    let registered = await fetch('ipfsRegister',{
            method: "post",
             headers: {
                 "Content-Type": "application/json"
            },
            body: JSON.stringify(registryInfo)
    })
    .then((response) => response.json())
        .then((result) => {
          console.log(result)
          return result;
        });
        return registered
  }


    async function displayMetadata() {

      document.querySelector(".payment-container").style.display = "block";
      if (metadata.nsfw) {
        document.querySelector("#NSFW-checkbox").innerHTML = "NSFW IMAGE";
      } else {
        document.querySelector("#NSFW-checkbox").innerHTML = "";
      }
      var balance = await balanceCheck()
      let metaAndFee= await fetchFees()

      console.log("DISPLAY METADATA BALANCE LOG");
      console.log(balance.balance);

      setReceiverBalance(balance.balance)
      setFees(metaAndFee.fee)

      console.log("FEE: ");
      console.log(metaAndFee.fee);

      document.querySelector('.fee').innerHTML = metaAndFee.fee;
      document.querySelector('.content').innerHTML = metaAndFee.wallet.senderadress;
    }

         useEffect(() => {
           if(fees>0){
          const timer = setInterval(async() => {
            var newBalance = await balanceCheck()
            console.log("setInterval: ");
            console.log(newBalance['balance']);
            console.log(fees);
            console.log(receiverBalance);
            console.log(fees+receiverBalance);
            if(newBalance['balance']==fees+receiverBalance && fees>0 && receiverBalance!=newBalance['balance'] || paytest){
              console.log("ABSOLUTE SUCESS!!!!!!!!");
              //CANCELED i will call it on the submit of the user adress//now i can call for the mint-asset 
              //Here i will code the revealing of the className="useradress-container"
              document.getElementById("submit_img").style.display = "none";
              document.getElementById("file").style.display = "none";
              document.querySelector(".metadata-container").style.display = "none";
              document.querySelector(".useradress-container").style.display = "block";
              //Register image on IPFS;
              clearInterval(timer);

            }
              else {console.log("Not Payed yet!");
            }
          
          }, 4000);
               // clearing interval
    return () => clearInterval(timer);
        }
        else console.log("Waiting metadata");
  },[fees]);
    
    async function fetchFees() {
      let fees = await fetch('node',{
            method: "post",
             headers: {
                 "Content-Type": "application/json"
            },
            body: JSON.stringify(metadata)
 })
        .then((response) => response.json())
        .then((result) => {
          console.log(result)
          return result;
        });
        return fees
    }

    async function fetchMinter(mintInfo){
      let minted = await fetch('mintAsset',{
            method: "post",
             headers: {
                 "Content-Type": "application/json"
            },
            //Another way to send the data.

            /*body: JSON.stringify({
              metadata:metadata,
              adress: adress
            }) */
            body: JSON.stringify(mintInfo)

 })
        .then((response) => response.json())
        .then((result) => {
          console.log("result from fetchMinter: ");
          console.log(result);
          return result;
        });
        return minted;
    }

    
    async function balanceCheck() {
      let balance = await fetch('balanceCheck',{
            method: "post",
             headers: {
                 "Content-Type": "application/json"
            },
            body: JSON.stringify(metadata)
 })
        .then((response) => response.json())
        .then((result) => {
          return result;
        });
        return balance;
    }

    async function mintAsset() {  
      let adress = document.querySelector("#user_adress").value
      var mintInfo = {"adress": adress};
      
      Object.assign(mintInfo, metadata)
        
      let cnodeReturn = await fetchMinter(mintInfo);

      console.log("Return from fetchMinter() on mintAsset(): ");
      console.log(cnodeReturn);
    }

    async function copyAdress() {
        /* Get the text field */
        var copyText = document.querySelector(".content")

      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.innerHTML);

      /* Alert the copied text */
      alert("Copied: " + copyText.innerHTML);

      //fazer o get-balance antes pra ver se tem saldo.
      // enviar metadata+endereço+imagem para o registro na blockchain e no IPFS ao mesmo tempo.
      var newBalance = await balanceCheck()
      console.log(newBalance['balance']);
      console.log(fees);
      console.log(receiverBalance);
      console.log(fees+receiverBalance);
      paytest = true;
      
    }

    return (
      <div id="projectCreate">
        <div className="image-container">
          <p>
            <h1>Upload Image</h1>
          </p>
          <input type="file" name="filename" id="file" />
          <button type="submit" id="submit_img" onClick={displayImg} >Send Image</button>
        </div>
        <div className="metadata-container">
          <label>
            Metadata:
            <div>
              Title:
              <p>
                <input
                  type="text"
                  onChange={fieldUpdater}
                  name="title"
                  value={metadata.title}
                />
              </p>
            </div>
            <div>
              Author:
              <p>
                <input
                  type="text"
                  onChange={fieldUpdater}
                  name="author"
                  value={metadata.author}
                />
              </p>
            </div>
            <div>
              Description:
              <p>
                <input
                  type="text"
                  onChange={fieldUpdater}
                  name="description"
                  value={metadata.description}
                />
              </p>
            </div>
            <div>
              File Web Link:
              <p>
                <input
                  type="text"
                  onChange={fieldUpdater}
                  name="fileWebLink"
                  value={metadata.fileWebLink}
                />
              </p>
            </div>
            <div>
              Arweave ID:
              <p>
                <input
                  type="text"
                  onChange={fieldUpdater}
                  name="arweaveId"
                  value={metadata.arweaveId}
                />
              </p>
            </div>
            <div>
              NSFW:
              <p>
                <input type="checkbox" onChange={fieldUpdater} name="nsfw" />
              </p>
            </div>
            <div>
              <button
                type="submit"
                id="submit_metadata"
                onClick={displayMetadata}
              >Send Metadata</button>
            </div>
          </label>
        </div>
        <div className="payment-container">
          <div>
            Title:
            <p>
              <a>{metadata.title}</a>
            </p>
            Author:
            <p>
              <a>{metadata.author}</a>
            </p>
            Description:
            <p>
              <a>{metadata.description}</a>
            </p>
            Web Link:
            <p>
              <a>{metadata.fileWebLink}</a>
            </p>
            Arwave Id:
            <p>
              <a>{metadata.arweaveId}</a>
            </p>
            <p>
              <a id="NSFW-checkbox">{metadata.nsfw}</a>
            </p>
          </div>
          <div className="payment-fee"></div>
          <div className="payment-adress">
            <p className="fee"></p>
            <p className="content"></p>
            <input
              type="submit"
              value="Copy Adress"
              id="copy_adress"
              onClick={copyAdress}
            />
          </div>
        </div>
        <div className="useradress-container">
            <p>Payment confirmed.</p>
            <p>Paste the adress that you want to receive the NFT:</p>
            <input id="user_adress" type="text" />
            <button
              type="button"
              value="Submit Adress"
              onClick={mintAsset}
            >Submit Adress</button>
          </div>
      </div>
    );
  }

  class Initial extends React.Component {
    render() {
      return (
        <div>
          <CreateProject />
        </div>
      );
    }
  }

  ReactDOM.render(<Initial />, document.querySelector("#upload"));
</script>
{% endblock %}
